li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc; /* Borde para la tarjeta */
  padding: 10px;
  margin-bottom: 10px; /* Espacio entre tarjetas */
  border-radius: 8px; /* Bordes redondeados para el estilo de tarjeta */
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}

li:hover {
  background-color: white;
  border-color: #007bff;
}

li.completed {
  background-color: rgba(228, 228, 228, 0.5);
  border-color: #00b200;
}

li p {
  flex-grow: 1;
  margin: 0 10px;
}

li.completed p {
  text-decoration: line-through;
  font-style: italic;
}

.check:hover {
  cursor: pointer;
  color: #00b200;
}

li.completed .check {
  color: #00b200;
}

.cross:hover {
  cursor: pointer;
  color: red;
}
